*{
   font-family: 'Poppins', sans-serif;
}

.nav-bar{
   margin: 87px 120px 40px 120px;
}

.page-links{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

h3{
   font-size: 24px;
   font-weight: 700;
   color: #3A3A3A;
}

a{
   text-decoration: none;
   font-weight:600;
   font-size: 16px;
   margin-left: 10px;
   color: #3A3A3A;
}
header{
   margin: 30px 120px 30px 120px;
}

.banner{
   display: flex;
   justify-content: space-between;
   align-items: center;
}

h2{
   font-size: 52px;
   font-weight: 700;
}

.title-text{
   margin-top: none
}

.btn-book{
   background-color: #E02C6D;
   padding: 10px 24px;
   border-radius: 41px;
   color: white;
   font-weight: 600px;
   border: none;
}

.brands{
   margin: 90px 220px 30px 220px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.logos{
   margin-left: 41px;;
}

.gears{
   margin: 100px 120px 120px 100px;
}

.gears-title{
   margin-bottom: 60px;
   font-size: 28px;
   font-weight: 700;
   text-align: center;
}

.container{
   display: grid;
   grid-template-columns: repeat(3, auto);
}

.card{
   width: 329px;
   padding: 16px;
   margin: 30px auto 30px auto;
   display: flex;
   flex-direction: column;
   box-shadow: 0px 0px 40px 0px #00000026;
}

.gear-name{
   font-size: 28px;
   font-weight: 500;
}

.price{
   font-size: 24px;
}

.description{
   font-size: 14px;
}